entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 39979
externalPort = 3001

[[ports]]
localPort = 46431
externalPort = 3003

[[ports]]
localPort = 46507
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[agent]
stack = "EXPO"

[deployment]
deploymentTarget = "static"
publicDir = "static-build"
build = ["node", "scripts/build.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://clwspdnaafuvjdhjhrpn.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsd3NwZG5hYWZ1dmpkaGpocnBuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM5NDEzMTksImV4cCI6MjA3OTUxNzMxOX0.oeOPYysYYFMmcsmMt8sHiqnEejNtNZ5cJFa48fxXUFg"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "222196005724-hsduk810apqv8425nbmo4g4p5hffsh7e.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_CLIENT_SECRET = "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"
